{% extends "base.html" %}

{% block content %}

<div class="columns is-2 is-offset-2">
  <div class="column">
    <h1 class="title">Game #{{ game_num }}</h1>
    <div class="box">
          {{ game_html|safe }}
    </div>

  <h1 class="title">Actions</h1>
  <div class="box">

    {% if game_num < list_len - 1 %}
      <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/disp_all_games/{{ id }}/{{ game_num + 1 }}';" type="button"value="Next Game" name="action" button
        style="margin:5px;">Next Game</button>
    {% endif %}

    {% if game_num > 0 %}
      <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/disp_all_games/{{ id }}/{{ game_num - 1 }}';" type="button"value="Previous Game" name="action" button
        style="margin:5px;">Previous Game</button>
    {% endif %}
  </div>
</div>

{% endblock %}
