<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Edit the fields you want to change</h3>
    <h4 class="title">Enter old password to confirm</h4>
    <div class="box">
        <form method="POST" action="/update_profile">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="displayname" placeholder="New Display Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="oldpassword" placeholder=" Old Password">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="newpassword" placeholder=" New Password">
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth" value="Confirm 2" name="action"button style="margin:5px;">Confirm 2</button>
            
        </form>










    </div>
</div>
{% endblock %}