{% extends "base.html" %}

{% block content %}

<div class="columns is-2 is-offset-2">
  <div class="column">
    <h1 class="title">Gifts In Range</h1>
    <div class="box">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {{ gift_html|safe }}

    </div>

  <h1 class="title">Actions</h1>
  <div class="box">
    {% if gift_num < list_len - 1 %}
    <form action="/search_range/{{ gift_num + 1 }}" method="POST">
      <input type = "hidden" name = "upper_range" value = {{upper_range}} />
      <input type = "hidden" name = "lower_range" value = {{lower_range}} />

      <button class="button is-block is-black is-large is-fullwidth" value="Next Gift" name="next" button style="margin:5px;">Next Gift</button>
    </form>  
    {% endif %}

    {% if gift_num > 0 %}
    <form action="/search_range/{{ gift_num - 1 }}" method="POST">
      <input type = "hidden" name = "upper_range" value = {{upper_range}} />
      <input type = "hidden" name = "lower_range" value = {{lower_range}} />

      <button class="button is-block is-black is-large is-fullwidth" value="Previous Gift" name="prev" button style="margin:5px;">Previous Gift</button>
    </form> 
    {% endif %}

    <form action="/disp_liked_gifts/{{ id }}/0">
      <button class="button is-block is-black is-large is-fullwidth" value="Liked Gifts" name="action" button
        style="margin:5px;">My Liked Gifts</button>
    </form>

    <form action="/range">
      <button class="button is-block is-black is-large is-fullwidth" value="Sort By Range" name="action" button
        style="margin:5px;">Sort By Range</button>
    </form>
    
  </div>
</div>

{% endblock %}
