{% extends "base.html" %}

{% block content %}

<div class="columns is-2 is-offset-2">
  <div class="column">
    <h1 class="title">Gift #{{ gift_num }}</h1>
    <div class="box">

          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
              </div>
          {% endfor %}

          {{ gift_html|safe }}
    </div>

  <h1 class="title">Actions</h1>
  <div class="box">

    {% if gift_num < list_len - 1 %}
      <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/disp_all_games/{{ gift_num + 1 }}';" type="button"value="Next Gift" name="action" button
        style="margin:5px;">Next Gift</button>
    {% endif %}

    {% if gift_num > 0 %}
      <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/disp_all_gifts/{{ gift_num - 1 }}';" type="button"value="Previous Gift" name="action" button
        style="margin:5px;">Previous Gift</button>
    {% endif %}
  </div>
</div>

{% endblock %}
