<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>


<h1 class="title">Manage Games</h1>
  <div class="box">

    <form action="/disp_created_games/{{ id }}/0">
      <button class="button is-block is-info is-large is-fullwidth" value="Games Created" name="action" button
        style="margin:5px;">Games Created</button>
    </form>

    <form action="/disp_joined_games/{{ id }}/0">
      <button class="button is-block is-info is-large is-fullwidth" value="Games Joined" name="action" button
        style="margin:5px;">Games Joined</button>
    </form>

    <form method="POST" action="/create_game">
      <button class="button is-block is-info is-large is-fullwidth" value="Create Game" name="action" button
        style="margin:5px;">Create Game</button>
    </form>

  </div>

  <h1 class="title">Manage Profile</h1>
  <div class="box">
    <form method="POST" action="/edit_profile">
      <button class="button is-block is-info is-large is-fullwidth" value="Edit Profile" name="action"button style="margin:5px;">Edit Profile</button>
    </form>
  </div>

  {% endblock %}